<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Lesson16
	link(rel="stylesheet" href="libs/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css")
	link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css")
	link(rel="stylesheet" href="css/main.css")
body
	div#wrapper
		#content
			nav
				.container
					.row
						.col-3
							.logo
								img(src="img/logo.png", alt="logo")
						.col-2.offset-4
							.linkItem
								a(href="##") Features
						.col-2
							.linkItem
								a(href="##") Support
						.col-1
							.linkItem
								a(href="##") Blog
			section#main
				.container
					.row
						.col-5
							.contentWrap
								h1 Inspire your inspiration
								h3 Simple to use for your app, products showcase and your inspiration
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit 
								button.button-empty Download
									i.fas.fa-cloud-download-alt
						.col-5.offset-2
							.imgWrap
								img(src="img/iPad.png", alt="iPad")
			section#features
				.container
					.row
						.col-11.offset-1
							.headWrap
								h2 Tiny features
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
					.row
						.col-12
							hr
					.row
						.col-1
							.iconWrap
								img(src="img/1.png", alt="")
						.col-3
							.textWrap
								h4 Header
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
						.col-1
							.iconWrap
								img(src="img/1.png", alt="")
						.col-3
							.textWrap
								h4 Header
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
						.col-1
							.iconWrap
								img(src="img/1.png", alt="")
						.col-3
							.textWrap
								h4 Header
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
						.col-1
							.iconWrap
								img(src="img/1.png", alt="")
						.col-3
							.textWrap
								h4 Header
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
						.col-1
							.iconWrap
								img(src="img/1.png", alt="")
						.col-3
							.textWrap
								h4 Header
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
						.col-1
							.iconWrap
								img(src="img/1.png", alt="")
						.col-3
							.textWrap
								h4 Header
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
		footer